{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_post_index') }}">Retour à la liste</a>
    <a href="{{ path('app_post_edit', {id: post.id}) }}">Modifier</a>
    <article>
        <h1>{{ post.title }}</h1>
        <p>Écrit par {{ post.writtenBy.name }}, le {{ post.createdAt | date('d/m/Y') }}</p>
        <div>
            {{ post.body | nl2br }}
        </div>
    </article>
{% endblock %}
