{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    {{ form_start(password_form) }}
    {{ form_errors(password_form) }}
    {{ form_widget(password_form.password) }}
    <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(password_form) }}
{% endblock %}

